/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday 
here and start to refactor into flexbox */


body {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 30px;
}

/* navigation bar and top logo*/
.pagetop {
	width: 100%;
	margin-bottom: 80px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagetop img {
	margin-left: 50px;
}

.pagetop nav{
    width: 70%;
    
}

.pagetop nav a{
    margin: 10px 20px;
	color: gray;
	text-decoration: none;
}

.pagetop nav a:hover {
	text-decoration: underline;
}


/* top section stylings (inovation on demand and the picture, plus the horizontal bottom border*/

.firstsection {
	display: flex;
	padding: 10px 0 80px 0;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
}

.firstsection .fsleft {
	width: 48%;
	text-align: center;
	padding-top: 50px;
}

#bigtext h1 {
    font-size: 70px;
    line-height: 55px;
}

#startedbox {
	text-align: center;
    margin: 0 auto;
    margin-top: 30px;;
	display: block;
	width: 175px;
	padding: 6px 0;
	border: 1px solid black;
	
}

#startedbox:hover {
	color: white;
	background: hsl(240, 100%, 8%);
}
	
/* features/about section + middle img*/

.sectiontwo {
	display: flex;
	padding-bottom: 50px;
}

.sectiontwo div{
    padding: 10px 0;
    margin: 10px;
}

.sectiontwo div h2 {
	font-size: 22px;
}
.sectiontwo div p {
	font-size: 15px;
	line-height: 20px;
}

.middle-img {
	width: 100%;
	margin-bottom: 50px;
}


/* section 3 after the middle image*/ 

.sectionthree {
	display: flex;
	padding-bottom: 50px;
	border-bottom: 2px solid black;
}

.sectionthree div h2 {
	font-size: 22px;
}
.sectionthree div p {
	font-size: 15px;
	line-height: 20px;
}
.sectionthree div{
	padding: 10px;
}

/* footer and copyright stuff */

footer{
	margin: 40px 0;
	width: 33%;

}

footer h3 {
	font-size: 20px;
}

footer p{
	font-size: 15px;
	line-height: 30px;
}

.crcenter {
	font-size: 20px;
	line-height: 30px;
	margin: 30px;
	text-align: center;
}

#address {
	line-height: 20px;
}









/* media query section */
/* tablet media query*/
@media (max-width: 800px) {

	body {
		width: 100%;
		padding: 20px;
	}

	.pagetop {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    .pagetop img {
        margin-bottom: 30px;
    }

    .pagetop nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .pagetop nav a {
        font-size: 20px;
        margin: 10px;
    }

    .fsleft {
        padding-top: 20px;
    }

	.pagetop nav {
        margin: 0 auto;
		margin-bottom: 40px;
		line-height: 25px;
	}
	.firstsection img{
		display: none; 
	}

	.firstsection  {
        justify-content: center;
        
    }
    
    .sectiontwo div{
        margin: 15px;
    }


  }




    /* media queries for mobile version*/

  @media (max-width: 500px) {

    body{
        padding-left: 0;
        padding-right: 0;
    }

    .fsleft h1:nth-child(1) {
       margin-left: -30px;
    }

    .firstsection {
        width: 97%;
        margin: 0 auto;
    }

    .pagetop {
        align-items: center;    
    }

    .pagetop nav a:nth-child(1) {
        border-top: 2px solid lightgray; 
    }
   
    .pagetop img {
        margin-left: 10px;
    }

    .pagetop nav {
        flex-direction: column;
        align-items: center;
    }

    .pagetop nav a {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid lightgray; 
        margin: 0 auto;
        padding: 10px 0;
    }


    .sectiontwo {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .sectionthree {
        width: 97%;
        margin: 0 auto;
        flex-direction: column;
    }

    .sectionthree div{
        padding: 20px 10px;
    }

    .sectionthree div:nth-child(1){
        padding-top: 0; 
    }

    .middle-img{ 
        margin-bottom: 15px;
        box-sizing: border-box;
        padding: 10px;
    }

    footer {
        margin-left: 2%; 
    }
    
    
  }







  

